{
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {},
  "rules": {
    "semi": 2,
    "no-console": 0,
    "no-mixed-spaces-and-tabs": ["error"]
  },
  "parserOptions": { "ecmaVersion": 2019 }
}
